@tailwind base;
@tailwind components;
@tailwind utilities;
  
@keyframes rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes deform {
    0% {
        border-radius: 35% 65% 53% 47% / 51% 53% 47% 49%;
    }
    25% {
        border-radius: 45% 55% 54% 46% / 63% 45% 55% 37% ;
    }
    50% {
        border-radius: 69% 31% 65% 35% / 39% 61% 39% 61% ;
    }
    100% {
        border-radius: 35% 65% 53% 47% / 51% 53% 47% 49%;
    }
}

@keyframes jellyfish {
    0% {
        transform-origin: var(--_transform-origin);
    }
    50% {
        transform-origin: var(--_width);
        translate: calc(var(--_transform-origin) - var(--_width));
        transform: rotate(calc(var(--position-in-circle) * var(--i)));
    }
    100% {
        transform-origin: var(--_transform-origin);
    }
}


/* @keyframes rainbow {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
} */
/* .parent-test {
    will-change: transform;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateX(0deg);
    filter: url(#Gooey);
} */

/* .test {
    contain: strict;
    position: absolute;
    left: var(--_left);
    background-color: rgb(59, 133, 202);
    will-change: transform;
    transform: rotate(calc(var(--position-in-circle) * var(--i)));
    transform-origin: var(--_transform-origin);
    filter: hue-rotate(0deg);

    width: var(--_width);
    aspect-ratio: 1;

    border-radius: 35% 65% 53% 47% / 51% 53% 47% 49%;
    animation: 
        deform 20s,
        rotate 90s,
        jellyfish 25s,
        rainbow 200s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
} */